%section
	.wrapper	
		%h1
			Post Index Page
	%hr/
	=@posts.each do |post|
		.postwrap
			.wrapper
				%h2.title= link_to post.title, post
				%p
					Published on 
					=post.created_at.strftime("%D at %T")
					


		