!!!
%html
%head
	%title="JonnysWeb"
	%meta{:name => "viewport", :content => "width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}/
%body
	%header.clearfix
		#logo
			%h1
				%a{href: root_path}
					Jonathan Bartlett
		#nav
			%li
				%a{:href => ""}
					Home
			%li
				%a{:href => ""}
					About
			%li
				%a{:href => ""}
					Forum
	%section.wrapper
		%p= 'Welcome to JonnysWeb'