.wrapper
	%h3 
		=@post.title
		| 
		=link_to "Back", :back 
	%p= simple_format(@post.content)
	%hr/
	.data.clearfix
		%p.f-left
			Submitted 
			=time_ago_in_words(@post.created_at) 
			ago

		.button-group.f-right
			%a.button{href: edit_post_path}
				Edit
			%a.button{:href => ""}
				Delete
				
	