.wrapper
	%h3= @post.title
	%p= @post.content
	%hr/
	.data.clearfix
		%p.f-left
			Submitted 
			=time_ago_in_words(@post.created_at) 
			ago

		.button-group.f-right
			%a.button{href: edit_post_path}
				Edit
			=link_to 'Delete', root_path, :action => 'Destroy', :confirm=>'Are you sure?', class: 'button'
				
	