/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'normalize.css.scss';
 @import 'variables.scss';
 /*Fonts*/
 @import url(http://fonts.googleapis.com/css?family=Lato:400,300,700,100);
 @import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,700);

 /*Body*/
 body {
 	
 	font-family: 'Lato', 'Ubuntu', Arial, sans-serif;
 	font-weight: 400; 

 	
 }

 header {
	border-bottom: 2px solid $light;
	padding: 20px;
 	background: $bg;

 	#logo {
		
		float: left;

		h1 {
				font-weight: 300;
				padding: 0;
			 	margin: 0;
				a {
			 		color: $light;
			 		padding: 0;
			 		margin: 0;
			 		text-decoration: none;
					&:hover {
					
						color: $lightsemi;

					}
				}
		 	}
 		
 	}

 }
 nav {
 	width: 100%;
	padding: 0 20px;
 	background: $bg;
 	border-top: 2px solid $light;
  	ul {
 		overflow: hidden;
 		padding: 0;
 		margin: 0;
 		-webkit-transition: max-height 1.5s;
 		-ms-transition: max-height 1.5s;
 		-moz-transition: max-height 1.5s;
 		-o-transition: max-height 1.5s;
 		transition: max-height 1.5s;
 	}
 	li {
 		line-height: 40px;
 		display: inline-block;
 		list-style: none;
 		margin-right: 40px;
 		font-weight: 700;

 		a {

 			color: $light;
 			text-decoration: none;

 			&:hover {

 				color: $lightsemi;

 			}

 		}
 	}

 }
	
 .handle {
	min-width: 100%;
	width: 100%;
	text-align: center;
	cursor: pointer;
	background: $bgl;
	padding: 10px;
	display: none;
	box-sizing: border-box;
	color: $light;

	.right {

		float: right;

	}

	.left {

		float: left;

	}

 }
 @media screen and (max-width: 500px) {

 	nav {
		
		border-top: none; 		
		
		ul {

			max-height: 0;

		}

		padding: 0;
 		li {
			padding: 0;
			text-align: center;
 			width: 100%;
		
			&:hover {

				background: $lightfull;

			}

 		}

 		.handle {

			display: block;
			border-top: 2px solid $light;

 		}

 		.showing {

			border-top: 2px solid $light;
			max-height: 10em;

 		}

 	}	

 }

 .inner {

	max-width: 1040px;
	margin: 0 auto;

 }
	
 .wrapper {

	
	max-width: 1040px;
	margin: 0 auto;
	padding: 20px;
	color: $dark;

	h3 {
	
		color: $accent;

	}


 }
 .clearfix:after {

 	content: " "; /* Older browser do not support empty content */
   	visibility: hidden;
   	display: block;
   	height: 0;
   	clear: both;
 }
	

