$light: rgba(236, 240, 241,1.0);
$lightsemi: rgba(236,240,241,0.6);
$lightfull: rgba(236,240,241,0.2);
$dark: rgba(127, 140, 141,1.0);
$bg: rgba(52, 152, 219,1.0);
$bgl: rgba(52, 152, 219,0.4);
$accent: rgba(44, 62, 80,1.0);