!!!
%html
%head
	%title="JonnysWeb"
	%script{:src => "http://code.jquery.com/jquery.min.js", :type => "text/javascript"}
	%meta{:name => "viewport", :content => "width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"}/
	%link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}/
	=stylesheet_link_tag "application", media: "all"
%body
	%header.clearfix
		#logo
			%h1
				%a{href: root_path}
					Jonathan Bartlett
	%nav.clearfix
		%ul
			-if current_page?(controller: 'main')
				%li.menurev{style: "cursor: pointer"}
					%a{href: "", style: "pointer-events: none; cursor: pointer;"}
						Home
						%i.fa.fa-angle-right{style: "margin-left: 10px;"}
				.submenucont	
					%li.submenu
						%a{:href => "#about"}
							About Me
					%li.submenu
						%a{:href => "#work"}
							My Work
					%li.submenu
						%a{:href => ""}
							Hire Me
			-else
				%li.menurev
					%a{href: root_path}
						Home
			%li
				%a{href: posts_path}
					Forum


		.handle.clearfix
			.right
				%i.fa.fa-bars

		
	=yield

	%footer
		
	:javascript
		$('.handle').on('click', function() {
			$('nav ul').toggleClass('showing');
		});

		$('.menurev').on('click', function() {
			
			$('.submenucont li.submenu').toggleClass('display');

		});

		$(document).ready(function(){
		$('a[href^="#"]').on('click',function (e) {
		e.preventDefault();

		var target = this.hash;
		var $target = $(target);

		$('html, body').stop().animate({
		'scrollTop': $target.offset().top
		}, 900, 'swing', function () {
		window.location.hash = target;
		});
		});
		});
		
